/**
 * base.css overrides
 */

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: auto;
}

.game {
  margin: 0 auto;
  border: 2px solid #555;
}

header {
  font-family: 'comic sans ms';

  background: #eee;
  padding: .5em;
}
  header h1 {
    text-align: center;
    font-size: 3em;
    margin: .1em 0 .3em;
    color: #f00;
  }
    header h1 .alt {
      color: #00f;
    }
  header h2 {
    margin: 0;
    text-align: center;
    border: 2px solid #900;
    padding: 0 1em;
    color: #090;
  }
    .game.gameover header h2 {
      background-color: red;
    }

footer {
  padding: 1em;
  font-size: .9em;
  text-align: center;
}
  footer, footer a {
    color: #555;
  }

.board {
  margin: 0 auto;
  background-size: 100% 100%;
  background: no-repeat center center;
  width: 27em;
}
  .board.bg1 {
    background-image: url(../gfx/bg1.png);
  }
  .board.bg2 {
    background-image: url(../gfx/bg2.png);
  }
  .board.bg3 {
    background-image: url(../gfx/bg3.png);
  }

ul.rows {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em;
}
  ul.rows li {
    margin: 0;
    clear: both;
  }

.square {
  box-sizing: border-box;

  display: block;
  float: left;
  width: 1.8em;
  height: 1.8em;
  margin: 0;

  padding: .1em;
  text-align: center;
  font-weight: bold;

  background: #ccc;
  border: .24em solid;
  border-color: #ddd #999 #999 #ddd;
}
  .square.open {
    border-width: .1em;
    border-color: #999;
    background: rgba(255, 255, 255, .2);
    cursor: default;
  }
    .square.open.n1 {
      color: #00f;
    }
    .square.open.n2 {
      color: #3a3;
    }
    .square.open.n3 {
      color: #c00;
    }
    .square.open.n4 {
      color: #33d;
    }
    .square.open.n5 {
      color: #c03;
    }
    .square.open.mine {
      background-image: url(../gfx/mine.svg);
      background-size: 1.3em;
      background-repeat: no-repeat;
      background-position: center center;
    }
      .square.open.mine .pic {
        text-align: center;
        position: relative;
        top: -25px;
        left: -10px;

        background: url(../gfx/sindre-hode-fail.png) no-repeat center center;
        width: 50px;
        height: 71px;
      }
      .game.gameover .square.open.mine .pic {
        background-image: url(../gfx/sindre-hode.png);
      }
  .square.flagged {
    background-image: url(../gfx/flag.svg);
    background-size: .9em;
    background-repeat: no-repeat;
    background-position: center center;
  }
